*{
    margin: 40px;
    font-family: 'Open Sans', sans-serif;
    
}
.nav-title{
    font-weight: 1600;
    font-size: 45px;
}
.banner{
    display: flex;
    align-items: center;
}
.plan-info-container{
    display:flex;
    justify-content: space-around;
} 

.banner{
    display: flex;
    align-items: center;
    background-color: black;


}




img {
    
float: right;

}

.about .plan-title{
    font-size: 20x:
}
.plan-description{font-weight: 700;
font-size: 20px;}

.button{color: orangered;}

{dis}